/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
	--color-principal: #f77f2b;
	--color-sale: #ff0000;
	--color-sustainable: #008000;
	--color-header-font: #e4e3e1;
    --color-brand: #77766e;
}

body{
    font-weight: 600;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.fixed{
    position: fixed;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
}

.space-between{
    justify-content: space-between;
}

.p-relative{
    position: relative;
}

.p-absolute.tags{
    position: absolute;
    bottom: 160px
}

.p-absolute.heart{
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0px;
    padding:5px 15px;
    font-size: 2em;
}

a{
    text-decoration: none;
    color: var(--color-header-font);
    padding: 0 5px;
    display: inline-block;
}
/* header */

header{
    background-color: var(--color-principal);
    width: 100%;
    padding: 20px 0px;
    z-index: 1000;
}

.logo{
    max-width: 150px;
}

i{
    color: var(--color-header-font);
}

/* main */

main{
    padding-top: 150px;
}
.card-wrapper{
    width: calc((100% / 3) - 20px);
    object-fit: contain;
    padding-bottom: 50px;
    min-width: 350px;
}

main > .d-flex{
    gap: 20px;
}

img{
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    font-size: 20px;
}

h3{
    color: var(--color-brand);
    font-size: 1em;
}
.sale{
    background-color: var(--color-sale);
}

.sustainable{
    background-color: var(--color-sustainable);
}
.tag{
    color: var(--color-header-font);
    padding: 3px;
}

.original.price{
    text-decoration: line-through;
}

.final.price{
    color: var(--color-sale);
}

.card-wrapper > img:hover{
    cursor: pointer
}

.heart:hover{
    cursor: pointer;
    color: red;
}

/* footer */

footer{
    background-color: black;
    color: var(--color-header-font);
}

h5{
    font-size:1.2em;
}

.l-footer, .r-footer{
    padding: 30px 0px;
}

.l-footer > a{
    padding-top: 10px;
    margin-right: 3px;
    font-size: 0.8em;
}

.r-footer > a{
    padding-top: 10px;
    margin-right: 3px;
    font-size: 0.8em;
}

.u-image1, .u-image2, .u-image3, .u-image4,.u-image5, .u-image6{ 
    display: none;
}

.image1:hover{
    content: url(../img/1b.webp);
}
.image2:hover{
    content: url(../img/2b.webp);
}
.image3:hover{
    content: url(../img/3b.webp);
}
.image4:hover{
    content: url(../img/4b.webp);
}
.image5:hover{
    content: url(../img/5b.webp);
}
.image6:hover{
    content: url(../img/6b.webp);
}
